<div class="py-4">
      <h2>Lista de participantes</h2>

      <hr />

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        {{#if skaters}}
           {{#each skaters}}
        <tbody>
          
          <tr>
            <th scope="row">{{this.id}}</th>
            <td><img src="{{this.foto}}"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td class="text-success font-weight-bold">{{this.estado}}</td>
          </tr>
         
        </tbody>
          {{/each}}
        {{else}}
          <p>No Skaters found.</p>
        {{/if}}
      </table>
      <a href="/login">Iniciar Sesión</a> |
      <a href="/register">Registrarme</a>
</div>